connexion==2.14.2
connexion[swagger-ui]==2.14.2
flask-cors
python_dateutil
setuptools
swagger-ui-bundle
requests
hiyapyco
pyjwt[crypto]
py-healthcheck
Flask
urllib3
gevent
opentelemetry-distro==0.57b0
opentelemetry-exporter-otlp-proto-http==1.36.0
python-json-logger==3.3.0